<!--
<h1>Pet Adoption Database</h1>
<h2>Main Menu</h2>
<div class="pet-list-with-sorting">
  <h4>Available Pets</h4>
  <br />
  <form>
    <label>Breed</label>
    <select>
      <option value="cat">Cat</option>
      <option value="dog">Dog</option>
      <option value="fish">Fish</option>
      <option value="monkey">Monkey</option>
    </select>
  </form>
  <form>
    <label>Age</label>
    <input type="text" />
  </form>
</div>
-->

<section class="hero">
  <div class="hero-search-box">
    <h1>Find your next furry friend</h1>
    <div class="search-options">
      <mat-form-field appearance="outline">
        <mat-label>Searchbox</mat-label>
        <input
          matInput
          placeholder="Type the name of an animal i.e 'Golden Retriever' "
        />
      </mat-form-field>
      <br />
      <button mat-raised-button color="primary">Search</button>
    </div>
  </div>
</section>
