@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.hero {
  height: 70%;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.pexels.com/photos/406014/pexels-photo-406014.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;

  display: flex;
  justify-content: center;
}

.hero-text {
  text-align: center;
  color: white;
  padding-top: 150px;
  font-family: "Montserrat", sans-serif;
}
.hero-text h1 {
  font-size: 40px;
}
