<div class="content">
  <mat-card class="mat-elevation-z5">
    <mat-card-title> Sign Up </mat-card-title>

    <form (submit)="onFormSubmit()" [formGroup]="signUpForm">
      <div class="field">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Name</mat-label>
          <input
            matInput
            placeholder="Name"
            type="text"
            name="Name"
            formControlName="nickname"
          />
        </mat-form-field>
      </div>
      <div class="field">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Username</mat-label>
          <input
            matInput
            placeholder="Username"
            type="text"
            name="username"
            formControlName="username"
          />
        </mat-form-field>
      </div>

      <div class="field">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            placeholder="Password"
            type="text"
            name="password"
            formControlName="password"
          />
        </mat-form-field>
      </div>

      <div class="field">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Choose a Security Question</mat-label>
          <mat-select
            matInput
            placeholder="Security Question"
            type="text"
            name="securityQuestion"
            formControlName="securityQuestion"
          >
            <mat-option value="What is your favorite food?">
              What is your favorite food?
            </mat-option>
            <mat-option value="What is your mother's maiden name?">
              What is your mother's maiden name?
            </mat-option>
            <mat-option value="What is the name of your first pet?">
              What is the name of your first pet?
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="field">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Security Question Answer</mat-label>
          <input
            matInput
            placeholder="Answer"
            type="text"
            name="securityAnswer"
            formControlName="securityAnswer"
          />
        </mat-form-field>
      </div>

      <button
        mat-raised-button
        type="submit"
        value="Sign Up"
        [disabled]="!signUpForm.valid"
      >
        Sign Up
      </button>
    </form>
  </mat-card>
</div>

<!-- <h1>Sign Up</h1>
  <form (submit)="onFormSubmit()" [formGroup]="signUpForm">
    <label>Enter Nickname: </label>
    <input type="text" name="nickname" formControlName="nickname" />
    <br /><br />
    <label>Enter UserName: </label>
    <input type="text" name="username" formControlName="username" />
    <br /><br />
  
    <label>Enter Password </label>
    <input type="password" name="password" formControlName="password" />
    <br /><br />
    <label>Select Role: </label>
    <select formControlName="role">
      <option value="ADMIN">ADMIN</option>
      <option value="USER">USER</option>
    </select>
    <br /><br />
    <label>Enter Security Question </label>
    <input type="text" name="question" formControlName="securityQuestion" />
    <br /><br />
    <label>Enter Security Answer </label>
    <input type="tect" name="answer" formControlName="securityAnswer" />
    <br /><br />
  
    <input type="submit" value="Login" [disabled]="!signUpForm.valid" />
  </form>
  
  -->
