<div class="dashboard-container">
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened class="sidebar-nav">
      <div class="sidenav-option" routerLink="/employeeDashboard/accountInfo">
        Account Info
      </div>
      <div class="sidenav-option" routerLink="/employeeDashboard/addAPet">
        Add a Pet
      </div>
      <div class="sidenav-option" routerLink="/requests">Requests</div>
      <div class="sidenav-option" routerLink="/receipts">Receipts</div>
      <div class="sidenav-option">Support</div>

      <div class="sidenav-option" routerLink="/logout">Logout</div>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
