<!--
<h1>Pet Adoption Database</h1>
<h2>Main Menu</h2>
<div class="pet-list-with-sorting">
  <h4>Available Pets</h4>
  <br />
  <form>
    <label>Breed</label>
    <select>
      <option value="cat">Cat</option>
      <option value="dog">Dog</option>
      <option value="fish">Fish</option>
      <option value="monkey">Monkey</option>
    </select>
  </form>
  <form>
    <label>Age</label>
    <input type="text" />
  </form>
</div>
-->

<section class="hero">
  <div class="hero-image">
    <div class="hero-text">
      <h1>Find your new furry friend</h1>
      <p>Browse pets from 500+ shelters</p>
      <button class="button" routerLink="/pets">Find a Pet</button>
    </div>
  </div>
</section>

<section class="tri-info-blocks">
  <div class="block">
    Approximately 40% of dog owners and 46% of cat owners learned about their
    pet through word of mouth. (Source: APPA)
  </div>
  <div class="block">
    Approximately 44% of all households in the United States have a dog, and 35%
    have a cat. (Source: American Pet Products Association 2015-2016 (APPA))
  </div>
  <div class="block">
    Around 27% of cats are acquired as strays, down from 35% in 2012. (Source:
    APPA)
  </div>
</section>

<section class="pictures">
  <div class="image">
    <img
      src="https://images.pexels.com/photos/58997/pexels-photo-58997.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    />
  </div>
  <div class="image">
    <img
      src="https://images.pexels.com/photos/319975/pexels-photo-319975.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    />
  </div>
  <div class="image">
    <img
      src="https://images.pexels.com/photos/57416/cat-sweet-kitty-animals-57416.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    />
  </div>
  <div class="image">
    <img
      src="https://images.pexels.com/photos/40021/fish-aquarium-speed-scale-40021.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    />
  </div>
  <div class="image">
    <img
      src="https://images.pexels.com/photos/2541239/pexels-photo-2541239.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    />
  </div>
</section>
