<h1>Pet Adoption Database</h1>
<h2>Request to Adopt {{petToAdopt.name}}</h2>
<h4>Details about {{petToAdopt.name}}:</h4>
<p>
    Species: {{petToAdopt.species}}<br>
    Age: {{petToAdopt.age}}<br>
    Date Acquired: {{petToAdopt.date_acquired}}<br>
    Sex: {{petToAdopt.sex}}<br>
    Color: {{petToAdopt.color}}<br>
    Breed: {{petToAdopt.breed}}<br>
    Vaccinated: {{petToAdopt.vaccinated}}<br>
    Neutered: {{petToAdopt.neutered}}<br>
</p>
<h5>Cost: {{petToAdopt.cost}}</h5>
<br />
<button mat-button (click)="createRequest()">Create Adoption Request</button>