<div class="request-box" *ngFor="let r of requests">
    <button class="close" (click)="delete(r.id)">&#x2716;</button>
    <p>Request ID: {{r.id}}</p>
    <p>Request Date: {{r.date}}</p>
    <p>Request status: {{r.status}}</p>
    <p>Customer ID: {{r.c_id}}</p>
    <p>Customer Name: {{r.c_name}}</p>
    <p>Customer Birthdate: {{r.c_birthday}}</p>
    <p>Customer Date Joined: {{r.c_date_joined}}</p>
    <p>Customer Phone: {{r.c_phone}}</p>
    <p>Pet ID: {{r.p_id}}</p>
    <p>Pet Name: {{r.p_name}}</p>
    <p>Pet Cost: ${{r.p_cost}}</p>
    <div>
        <button *ngIf="r.status==='Pending'" class="approve">APPROVE</button>&nbsp;
        <button *ngIf="r.status==='Pending'" class="reject">REJECT</button>
    </div>
</div>