<div class="flex-box">
    <div><p><strong>No. of sales: {{num}}</strong></p></div>
    <div><p><strong>Average: ${{average}}</strong></p></div>
    <div><p><strong>Minimum: ${{min}}</strong></p></div>
    <div><p><strong>Maximum: ${{max}}</strong></p></div>
    <div><p><strong>Total: ${{total}}</strong></p></div>
</div>

<div class="flex-box">
    <div class="receipt-box" *ngFor="let r of receipts">
        <button class="close" (click)="delete(r.id)">&#x2716;</button>
        <p>Receipt ID: {{r.id}}</p>
        <p>Receipt Date: {{r.date}}</p>
        <p>Request ID: {{r.r_id}}</p>
        <p>Request Date: {{r.r_date}}</p>
        <p>Customer ID: {{r.c_id}}</p>
        <p>Customer Name: {{r.c_name}}</p>
        <p>Pet ID: {{r.p_id}}</p>
        <p>Pet Name: {{r.p_name}}</p>
        <p>Employee ID: {{r.e_id}}</p>
        <p>Employee Name: {{r.e_name}}</p>
        <p>Cost: ${{r.cost}}</p>
    </div>
</div>