.receipt-box {
    padding: 5px;
    border: 5px black;
    border-style: solid;
    margin: 5px;
    max-width: 500px;
    float: left;
    border-radius: 10px;
}

.flex-box {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.close {
    float: right;
}