<h1>Pet Adoption Database</h1>
<h2>Pet Search</h2>
<div class="pets-filters">
  <h4>Available Pets</h4><br />
  
  <form (submit)="searchForPets()" [formGroup]="filterForm">
    <label>Search by Name</label>
    <input type="text" formControlName="name">
    <br />

    <!-- "select multiple" allows for multiple choices, note for later -->
    <label>Filter by Species</label>
    <select formControlName="species">
      <option *ngFor="let s of speciesUnique" value="{{s}}">{{s}}</option>
    </select>
    <br />

    <label>Search by Age</label>
    <input type="number" formControlName="age">
    <br />

    <label>Filter by Sex</label>
    <select formControlName="sex">
      <option value="null"></option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select>
    <br />

    <label>Filter by Color</label>
    <select formControlName="color">
      <option *ngFor="let c of colorsUnique" value="{{c}}">{{c}}</option>
    </select>
    <br />

    <label>Filter by Breed</label>
    <select formControlName="breed">
      <option *ngFor="let b of breedUnique" value="{{b}}">{{b}}</option>
    </select>
    <br />

    <label>Vaccinated?</label>
    <select formControlName="vaccinated">
      <option value="null"></option>
      <option value="true">Yes</option>
      <option value="false">No</option>
    </select>
    <br />

     <label>Neutered?</label>
    <select formControlName="neutered">
      <option value="null"></option>
      <option value="true">Yes</option>
      <option value="false">No</option>
    </select>
    <br />

    <input type="submit" value="FILTER">
  </form>
  <button mat-button (click)="resetFilters()">RESET FILTERS</button>
</div>
<br /><br />
<div class="pets-table">
  <style>
    table {
        border-collapse: collapse;
      }
      th {
        border: 1px solid #000000;
        text-align: left;
        padding: 5px;
      }
  </style>
	<table>
    <tr>
      <th>Name</th>
      <th>Species</th>
      <th>Breed</th>
      <th>Sex</th>
      <th>Age</th>
      <th>More Information</th>
      <th>Adopt</th>
    </tr>
    <tr *ngFor="let p of petsFiltered">
      <th>{{p.name}}</th>
      <th>{{p.species}}</th>
      <th>{{p.breed}}</th>
      <th>{{p.sex}}</th>
      <th>{{p.age}}</th>
      <th>
        <!-- <button mat-button (click)="toggleInfo(p.id)">More Info</button> -->
        <p id="moreInfo">
          Date Acquired: {{p.date_acquired}}<br>
          Color: {{p.color}}<br>
          Vaccinated: {{p.vaccinated}}<br>
          Neutered: {{p.neutered}}<br>
          Cost: ${{p.cost}}
        </p>
      </th>
      <th>
        <button routerLink="/adoption/{{p.id}}" *ngIf="userIsLoggedIn()">Adopt</button>
        <label *ngIf="!userIsLoggedIn()">Log in to adopt</label>
      </th>
    </tr>
  </table>
</div>