
<div class="pets-filters">
  <style>
    input {
      margin-left: 20px;
    }
    label {
      margin: 20px;
    }
    h2 {
      margin: 20px;
    }
  </style>
  <h2>Pet Search</h2>
  <form (submit)="searchForPets()" [formGroup]="filterForm">
    <label>Search by Name</label>
    <input type="text" formControlName="name">
    <br />

    <!-- "select multiple" allows for multiple choices, note for later -->
    <label>Filter by Species</label>
    <select formControlName="species">
      <option *ngFor="let s of speciesUnique" value="{{s}}">{{s}}</option>
    </select>
    <br />

    <label>Search by Age</label>
    <input type="number" formControlName="age">
    <br />

    <label>Filter by Sex</label>
    <select formControlName="sex">
      <option value="null"></option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select>
    <br />

    <label>Filter by Color</label>
    <select formControlName="color">
      <option *ngFor="let c of colorsUnique" value="{{c}}">{{c}}</option>
    </select>
    <br />

    <label>Filter by Breed</label>
    <select formControlName="breed">
      <option *ngFor="let b of breedUnique" value="{{b}}">{{b}}</option>
    </select>
    <br />

    <label>Vaccinated?</label>
    <select formControlName="vaccinated">
      <option value="null"></option>
      <option value="true">Yes</option>
      <option value="false">No</option>
    </select>
    <br />

     <label>Neutered?</label>
    <select formControlName="neutered">
      <option value="null"></option>
      <option value="true">Yes</option>
      <option value="false">No</option>
    </select>
    <br /><br />

    <input type="submit" value="Filter Pets by Selections">&nbsp;
    <button (click)="resetFilters()">Reset Filters</button>
  </form>
</div>
<br /><br />

<div class="pets-table">
  <style>
    table {
      border-collapse: collapse;
      margin: 20px;
    }
    th {
      border: 1px solid #000000;
      text-align: left;
      padding: 5px;
    }
    h4 {
      margin-left: 20px;
    }
  </style>
  <h4>{{petsFiltered.length}} pets found</h4>
	<table>
    <tr>
      <th>Name</th>
      <th>Species</th>
      <th>Breed</th>
      <th>Sex</th>
      <th>Age</th>
      <th>More Information</th>
      <th>Adopt</th>
    </tr>
    <tr *ngFor="let p of petsFiltered">
      <th>{{p.name}}</th>
      <th>{{p.species}}</th>
      <th>{{p.breed}}</th>
      <th>{{p.sex}}</th>
      <th>{{p.age}}</th>
      <th>
        <!-- <button mat-button (click)="toggleInfo(p.id)">More Info</button> -->
        <p id="moreInfo">
          Date Acquired: {{p.date_acquired}}<br>
          Color: {{p.color}}<br>
          Vaccinated: {{p.vaccinated}}<br>
          Neutered: {{p.neutered}}<br>
          Cost: ${{p.cost}}
        </p>
      </th>
      <th>
        <button routerLink="/adoption/{{p.id}}" *ngIf="userIsLoggedIn()">Adopt</button>
        <label *ngIf="!userIsLoggedIn()">Log in to adopt</label>
      </th>
    </tr>
  </table>
</div>