<div>
    <button (click)="reset()">Reset</button>
    <form (submit)="filterById()" [formGroup]="filterByIdForm">
        <label>ID</label>&nbsp;
        <input type="text" name="p_id" formControlName="id">
        <input type="submit" value="search" [disabled]="!filterByIdForm.valid">
    </form>

    <form (submit)="filterByPet()" [formGroup]="filterByPetForm">
        <label>Pet ID</label>&nbsp;
        <input type="text" name="p_id" formControlName="p_id">
        <input type="submit" value="search" [disabled]="!filterByPetForm.valid">
    </form>

    <form (submit)="filterByEmployee()" [formGroup]="filterByEmployeeForm">
        <label>Employee ID</label>&nbsp;
        <input type="text" name="e_id" formControlName="e_id">
        <input type="submit" value="search" [disabled]="!filterByEmployeeForm.valid">
    </form>

    <form (submit)="filterByCustomer()" [formGroup]="filterByCustomerForm">
        <label>Customer ID</label>&nbsp;
        <input type="text" name="c_id" formControlName="c_id">
        <input type="submit" value="search" [disabled]="!filterByCustomerForm.valid">
    </form>

    <form (submit)="searchAfterDate()" [formGroup]="searchAfterDateForm">
        <label>After date</label>&nbsp;
        <input type="date" name="date" formControlName="date">
        <input type="submit" value="search" [disabled]="!searchAfterDateForm.valid">
    </form>

    <form (submit)="searchBeforeDate()" [formGroup]="searchBeforeDateForm">
        <label>Before date</label>&nbsp;
        <input type="date" name="date" formControlName="date">
        <input type="submit" value="search" [disabled]="!searchBeforeDateForm.valid">
    </form>

    <button (click)="filterByApproved()">Approved</button>
    <button (click)="filterByRejected()">Rejected</button>
    <button (click)="filterByPending()">Pending</button>

</div>