.container {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.pet-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.pet-card {
  width: 230px;
}

.filters {
  padding: 10px;
}
