<div class="banner">
  <span class="closebutton" onclick="this.parentElement.style.display='none';"
    >&times;</span
  >
  <b>UPDATE: </b>Due to high summer traffic, it may take a little longer to
  process adoption requests. Thank you for your patience!
</div>

<mat-toolbar class="top-toolbar-container">
  <div class="top-item-container">
    <div class="logo-container">
      <a class="top-logo" routerLink="/home">Pet Adoption Database</a>
    </div>

    <div class="toolbar-item-container">
      <div class="dynamic-link" *ngIf="username == undefined">
        <div class="top-right-nav" style="border-left: solid 0.7px gray">
          <a
            class="top-toolbar-item"
            routerLink="/signup"
            style="padding-left: 1rem"
            >Sign Up</a
          >
          <a class="top-toolbar-item" routerLink="/login">Log In</a>
        </div>
      </div>
      <div class="dynamic-link" *ngIf="username != undefined">
        <a class="top-toolbar-item" routerLink="/employeeDashboard"
          >Welcome, {{ username }}</a
        >
      </div>
    </div>
  </div>
</mat-toolbar>

<mat-toolbar class="toolbar-container" style="background-color: #0099ff">
  <div class="item-container">
    <a class="toolbar-item" routerLink="/view-pets">All Pets</a>
    <a class="toolbar-item" routerLink="/pets">Search Pets</a>
    <a class="toolbar-item" routerLink="/pets">Dogs</a>
    <a class="toolbar-item" routerLink="/pets">Cats</a>
    <a class="toolbar-item" routerLink="/pets">Fish</a>
    <a class="toolbar-item" routerLink="/pets">Exotic</a>
    <a class="toolbar-item" routerLink="/employeeDashboard">Dashboard</a>

    <div class="toolbar-item-container"></div>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
