<div class="navbar">
  <a routerLink="/requests">Requests</a>
</div>


<!--
<h1>Pet Adoption Database</h1>
<h2>Main Menu</h2>
<div class="pet-list-with-sorting">
  <h4>Available Pets</h4><br />
  <form>
    <label>Breed</label>
    <select>
      <option value="cat">Cat</option>
      <option value="dog">Dog</option>
      <option value="fish">Fish</option>
      <option value="monkey">Monkey</option>
    </select>
  </form>
  <form>
    <label>Age</label>
    <input type="text">
  </form>
  <button (click)="applySorts()")>SORT</button>
</div>
-->

<div>
  <router-outlet></router-outlet>
</div>